<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema de Reembolso</title>
   <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

    <main class="container">
        
        <header>
    <div style="display: flex; justify-content: space-between; align-items: center;">
        <div>
            <h1>Gestão de Reembolsos</h1>
            <p>Controle financeiro corporativo</p>
        </div>
        <div class="card-total">
            <span>Total a Reembolsar:</span>
            <strong id="total-valor">R$ 0,00</strong>
        </div>
    </div>
</header>

        <section class="card">
            <h2>Nova Despesa</h2>
            <form id="form-despesa">
                <div class="form-group">
                    <label>Descrição</label>
                    <input type="text" id="descricao" placeholder="Ex: Almoço com cliente" required>
                </div>

                <div class="form-row">
                    <div class="form-group">
                        <label>Valor (R$)</label>
                        <input type="number" id="valor" step="0.01" placeholder="0,00" required>
                    </div>
                    
                    <div class="form-group">
                        <label>Categoria</label>
                        <select id="categoria">
                            <option value="Alimentação">Alimentação</option>
                            <option value="Transporte">Transporte</option>
                            <option value="Hospedagem">Hospedagem</option>
                            <option value="Outros">Outros</option>
                        </select>
                    </div>
                </div>

                <button type="submit" class="btn-submit">Salvar Despesa</button>
            </form>
        </section>

        <section class="card">
            <h2>Histórico de Lançamentos</h2>
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Descrição</th>
                        <th>Categoria</th>
                        <th>Valor</th>
                        <th>Status</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody id="tabela-corpo">
                    </tbody>
            </table>
        </section>
    </main>

    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>